div {
    margin: 0;
    height: 35px;
}

button {
    border-radius: 50%;
    height: inherit;
    width: 35px;
    padding: 0;
    background-image: none;
    cursor: default;
    border: thin solid black;
}

button[value="free"] {
    cursor: pointer;
    background-image: url("intersect.png");
    background-color: transparent;
    background-size: cover;
    border-color: transparent;
}

button[value="black"] {
    background-color: black;
}

button[value="white"] {
    background-color: white;
}
